* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(50,50,50);
}

#container {
    width: 840px;
    display: flex;
    flex-flow: row wrap;
}

#dude {
    position: absolute;
    background-image: url("pickle.png");
    top: 360px;
    left: 0px;
    animation-duration: 100ms;
}

.cell {
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.wall {
    background-color: black;
}

.floor {
    background-color: rgb(200,200,200);
}

.finish {
    background-image: url("peach.png");
    background-color: rgb(200,200,200);
}

@keyframes slideRight {
    from {margin-left: -40px;}
    to {margin-left: 0;}
}
.slideRight {animation-name: slideRight;}

@keyframes slideLeft {
    from {margin-left: 40px;}
    to {margin-left: 0px;}
}
.slideLeft {animation-name: slideLeft;}

@keyframes slideUp {
    from {margin-top: 40px;}
    to {margin-top: 0;}
}
.slideUp {animation-name: slideUp;}

@keyframes slideDown {
    from {margin-top: -40px;}
    to {margin-top: 0;}
}
.slideDown {animation-name: slideDown;}